.adminNav {
  width: 70% !important;
  height: 70px !important;
  border-bottom: 1px solid black !important;
}
.sidey {
  margin-top: -60px !important;
  top: 0px !important;
  bottom: 0px !important;
  position: absolute !important;
  border-right: 1px solid black !important;
}

.circle {
  border: 2px solid red;
  width: 390px !important;
  height: 75px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  /* align-content: center !important;  */
}
.transparent {
  background-image: url("/register/signup/images/background.png");
}
.botn {
  margin-left: 180px !important;
}

.up {
  background-image: url("/register/signup/images/threehands.png");
  height: 400px;
}
.boda {
  background-color: #eceaea;
  /* border-width: 10px !important; */
}
/* .asidey{
    height: 100% !important;
} */
