#head_jumbotron {
  background-image: url("/landing\ pix.jpg");
  height: 400px;
  padding-top: 20px;
  /* background-repeat: no-repeat; */
}
#head_jumbotron_inner_div {
  padding: 10px;
  margin-left: 5px;
}

.img {
  height: 300px;
}
.row2 {
  display: flex;
  justify-content: space-around;
}
/* .flex {
  display: flex;
} */
